.TopBar {
    margin-top: 10px;
}

.Logo {
    max-height: 38px;
}

.ActionBar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.video {
    margin-left: 0;
    margin-right: 0
}

#composey_card {
    background-color: #ffffff;
    border-color: #E82353;
}

.QueryForm {
    margin-top: 5px;
}

.ReducedPadding {
    padding-left: 5px;
    padding-right: 5px;
}